 body{

    background-image:url(./background.jpg);

 }
 #mb{
        padding:30px;
        height:400px;
        float:left;
        position: absolute;
        margin-right:10%;
        width:45%;
        margin-bottom:10%;
    }
    #img{
        padding:20px;
        margin-bottom:10%;
        float: right;
        background-color: black;
        opacity:0.7;
        border-radius:50px;
        height:480px;
    }
          
          
          #leftbox {
            
                padding:20px;
                float:left; 
                
                width: 300px;
                height:480px;
            }
            #middlebox{
                float:left; 
                padding:20px;
                width:300px;
                height:480px;
                position:relative;
            
                margin-bottom:5%;
            }
            #rightbox{
                position: relative;
                padding:20px;
                float:left;
                
                width:300px;
                height:480px;
            }

            #lb1 {
                padding:20px;
                float:left; 
                
                width: 300px;
                margin-bottom: 20px;
                height:400px;
            }
            #cb1{
                float:left; 
                padding:20px;
                width:300px;
                height:400px;
               
                margin-left:0%;
                margin-right:5%;
                margin-bottom:10%;
            }
            #rb1{
                padding:20px;
                float:right;
                
                width:300px;
                margin-bottom: 20px;
                height:400px;
            }
            #ab{
                padding:20px;
                float: left;
                border:solid black ;
                width: 87%;
                margin-left:50px;
                margin-top:30px;
                height:400px;
                margin-bottom: 20px;


            }

            #trans{
                height:60px;
                width:30%;
                margin-left:36%;
                margin-right:40%;
                position: relative;
                background-color: black;
                border-radius:20px;
                opacity:0.7;
            }
            #t1{
                margin-top:-6%;
                padding:20px;
                position:relative;
                background-color: black;
                border-radius:20px;
                opacity:0.7;
                height:480px;
            }
           
            #t2{
                
                float:left;   
                padding: 5px;
                width: 330px;
                height:520px;
                border-radius:20px;
                background-color:black;
                opacity:0.7;
                
            }
            #t3{
                margin-left:6%;
            
                float:left;   
                padding: 5px;
                width: 330px;
                height:520px;
                border-radius:20px;
                background-color:black;
                opacity:0.7;
                
            }
            #t4{
                margin-left:6%;
                float:left;   
                padding: 5px;
                width: 330px;
                height:520px;
                border-radius:20px;
                background-color:black;
                opacity:0.7;
            }
            #t5{
                float:left;   
                padding: 5px;
                width: 330px;
                height:440px;
                border-radius:20px;
                background-color:black;
                opacity:0.7;
            }
            #t6{
                margin-left:6%;
            
                float:left;   
                padding: 5px;
                width: 330px;
                height:440px;
                border-radius:20px;
                background-color:black;
                opacity:0.7;
                
            }
            #t7{
                margin-left:6%;
                float:left;   
                padding: 5px;
                width: 330px;
                height:440px;
                border-radius:20px;
                background-color:black;
                opacity:0.7;
            }
            #ab1{
                margin-top:10%;
                float:left;   
                padding: 5px;
                border-radius:20px;
                background-color:black;
                opacity:0.7;
               
            }
           h1{
            text-shadow:5px 10px 8px 10px #000000;
           }

            #t8{
                margin-top:95%;
                height:50px;
                border-radius:50px;
                background-color: black;
                opacity:0.7;
                
            }
            #footer{
                
                padding:10px;
                text-align: center;
                color:white;
                font-size:30px;
            }
           